@model f20itonkgrp7frontend.ASPNETCore.MicroService.ClassLib.Models.Haandvaerker

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Haandvaerker</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HVAnsaettelsedato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HVAnsaettelsedato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HVEfternavn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HVEfternavn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HVFagomraade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HVFagomraade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HVFornavn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HVFornavn)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.HaandvaerkerId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
